<mat-toolbar color="primary">
  <span>הזמנת פריט</span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="/items-list">פריטים</a>
      <a mat-list-item routerLink="/order-summary">הפקת הזמנה</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="order-content">
      <h2>פרטי התרופה: {{currItem.name}}</h2>
      <p>מחיר: {{currItem.price}}</p>
      <p>מרכיב פעיל: {{currItem.activeIngredient}}</p>
      <p>מלאי: {{currItem.stock}}</p>
      <p>כמות באריזה: {{currItem.packaging}}</p>
      <p>אצווה: {{currItem.batch}}</p>
      <p>תאריך ייצור: {{currItem.productionDate}}</p>
      <p>תפוגה: {{currItem.expiryDate}}</p>

      <!-- אזור השדות המעוצבים בצורה אופקית -->
      <div class="order-fields">
        <div class="form-row">
          <mat-form-field appearance="fill">
            <mat-label>כמות להזמנה</mat-label>
            <input matInput type="number" [formControl]="orderQuantityControl" min="1"/>
            <mat-error *ngIf="orderQuantityControl.hasError('min') || orderQuantityControl.hasError('required')">כמות להזמנה לא תקינה</mat-error>
          </mat-form-field>
          <!-- אפשר להוסיף שדות נוספים לצד זה במידת הצורך -->
        </div>
      </div>

      <button mat-raised-button color="primary" (click)="completeOrder()">סיום</button>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
