<div class="login-container">
  <h3>כניסה</h3>
  <mat-form-field appearance="fill">
    <mat-label>שם משתמש</mat-label>
    <input matInput [(ngModel)]="username">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>סיסמה</mat-label>
    <input matInput type="password" [(ngModel)]="password">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>OTP</mat-label>
    <input matInput [(ngModel)]="otp">

  </mat-form-field>
  <mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>
  <!-- לחיצה על כפתור ההתחברות -->
  <button mat-raised-button color="primary" (click)="login()">כניסה</button>
</div>
